*{
	margin:0 ;
	padding: 0;
	font-family: arial;
}

html
{
	font-size: 16px;
}

header
{
	width: 100%;
	height: 130px;
}

main
{
	overflow: hidden;
}

.initialWidth
{
	width: 900px;
	margin: auto;
}

.lightGrayBack
{
	background-color: #e2eae6;
}

#logo
{
	background: url(../img/logo.png);
	width: 130px;
	height: 100px;
	float: left;
	margin-top: 20px;
}

nav
{
	float: right;
	width: 55%;
}

nav ul
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}


nav ul li 
{
	list-style: none;
	padding-top: 70px;
}

nav ul li a
{
	font-size: 0.75em;
	text-decoration: none;
	color: #787b66;
	padding: 70px 20px 40px 20px;
}

nav ul li a:hover
{
	background: linear-gradient(#1bb5ac, #d5edcb, #f1f4e5);
	color: #1bb5ac;
}

.leftStrip, .rightStrip
{
	width: 50%;
	padding: 0 30px;
	box-sizing: border-box;
	float: left;
}

h3
{
	font-family: 'Antic', sans-serif;
	font-size: 1.25em;
	color: #e6ab42;
}

p
{
	color: #959595;
	font-size: 0.75em;
	line-height: 24px;
}

.pMarginBottom
{
	margin-bottom: 30px;
}

.imgMarginTop
{
	margin-top: 80px;
}
.imgMarginBottom
{
	margin-bottom: 60px;
}

.alignRight
{
	text-align: right;
}

.rightStrip img:first-child
{
	margin-top: 30px;
}

#footerWrapper
{
	height: 130px;
	width: 100%;
	background: linear-gradient(#2ac3c3, #1e819d);
}


footer > p
{
	padding-top: 23px;
	color: #5bdee6;
	float: left;
}

.socialWrapper
{
	float: right;
	width: 215px;
	display: flex;
	justify-content: space-between;
	padding-right: 40px;
	padding-top: 15px;
}

.socialWrapper a
{
	width: 30px;
	height: 30px;
	float: left;
}

.socialWrapper a:hover
{
	filter: brightness(130%);
}

.google
{
	background: url(../img/social1.png);
}
.mail
{
	background: url(../img/social2.png);
}
.facebook
{
	background: url(../img/social3.png);
}
.twitter
{
	background: url(../img/social4.png);
}


@media screen and (max-width: 900px)
{
	html
	{
		font-size: 30px;
	}
	body
	{
		width: 900px;
	}
	p
	{
		line-height: 30px;
	}
	.initialWidth
	{
		width: 100%;
	}
	nav 
	{
		width: 100%;
	}
	header
	{
		height: auto;
		overflow: hidden;
	}
	nav ul
	{	
		justify-content: space-around;
	}
	nav ul li 
	{
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 600px)
{
	html
	{
		font-size: 34px;
	}
	#logo
	{
		display: none;
	}
	.leftStrip, .rightStrip
	{
		width: 100%;
	}
	.alignRight
	{
		text-align: center;
	}
	p, h3
	{
		text-align: center;
	}
	.leftStrip img
	{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}
