<section class="leftStrip">
	<img src="img/main2.png" alt="hous on grass" class='imgMarginBottom imgMarginTop'> </img>
		<h3>This is just a place holder</h3>
		<p class="pMarginBottom">This website template has been designed by freewebsitetemplates for you, for free. </p>
		<p class="pMarginBottom">You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. </p>
		<p class="pMarginBottom">If you're having problems editing this website template, then don't hesitate to ask for help on the forum.</p>
		<img src="img/main4.png" alt="plant from green box" class='imgMarginBottom'>
</section>
<section class="rightStrip alignRight">
	<img src="img/main1.png" alt="kayamura - subdivision" class='imgMarginBottom'>
	<h3>This is just a place holder</h3>
	<p>This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the forum</p>
	<img src="img/main3.png" alt="photo of many green things" class='imgMarginBottom imgMarginTop'>
	<h3>This is just a place holder</h3>
	<p>This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
	<p>If you're having problems editing this website template, then don't hesitate to ask for help on the forum.</p>
</section>