<section class="mainStrip width67">
	<h3>This is just a place holder</h3>
	<p class='imgMarginBottom'>This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the forum.</p>
	<h3>This is just a place holder</h3>
	<p class='imgMarginBottom'>This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the forum.</p>
	<h3>This is just a place holder</h3>
	<p class='imgMarginBottom'>This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the forum.</p>
	<h3>This is just a place holder</h3>
	<p class='imgMarginBottom'>This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the forum.</p>
</section>

<section class="photoStrip width33">
	<img src="img/subdivisions1.png" class='pMarginBottom' alt="">
	<img src="img/subdivisions2.png" class='pMarginBottom' alt="">
	<img src="img/subdivisions3.png" class='pMarginBottom' alt="">
	<img src="img/subdivisions4.png" class='pMarginBottom' alt="">
</section>
